header {
    position: fixed;
    width: 100%;

    background-color: #16C79A;

    display: inline;

    .top-informations {
        display: flex;
        justify-content: space-between;

        margin: 1.8rem;
        
        a {
            color: #fff;
            font-size: 1.5rem;
        }

        a:hover {
            cursor: pointer;
            color: #949494;
            transition: .4s;
        }
    }
}